@tailwind base;
@tailwind components;
@tailwind utilities;

.page-break {
    page-break-before: always;
}

.page-break-before {
    page-break-before: always;
}

.page-break-inside-avoid {
    page-break-inside: avoid;
    margin-top: 20px;
}

.page-break-after {
    page-break-after: always;
}
